<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CoopManagement</title>

    @*Bootstrap*@
    <link rel="stylesheet" href="~/lib/jquery/dist/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    @*Fontawesome*@
    <link href="~/lib/Inspinia/font-awesome/css/all.min.css" rel="stylesheet" />

    @*Inspinia*@
    <link rel="stylesheet" href="~/lib/Inspinia/css/animate.css" />
    <link rel="stylesheet" href="~/lib/Inspinia/css/style.css" />
</head>
<body class="md-skin fixed-nav no-skin-config">
    <div class="pace pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
            <div class="pace-progress-inner"></div>
        </div>
        <div class="pace-activity"></div>
    </div>
    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle offset-md-4" src="~/imagens/logo-coop.jpg" />
                            <a data-toggle="dropdown" class="dropdown-toggle text-center" href="#">
                                <span class="block m-t-xs font-bold">CoopManagement</span>
                                <span class="text-muted text-xs block">Perfil <b class="caret"></b></span>
                            </a>
                            <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                                <ul class="dropdown-menu animated m-t-xs">
                                    <li><a class="dropdown-item" href="#">Profile</a></li>
                                    <li><a class="dropdown-item" href="#">Contacts</a></li>
                                    <li><a class="dropdown-item" href="#">Mailbox</a></li>
                                </ul>
                            </form>
                        </div>
                        <div class="logo-element">
                            <img alt="Geoserviços" src="~/imagens/logo-coop.jpg" />
                        </div>
                    </li>
                    <li>
                        <a asp-page="/Index" aria-expanded="false"><i class="fas fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
                    </li>
                    <li>
                        <a asp-page="/Cooperados/Index"><i class="fas fa-users"></i> <span class="nav-label">Cooperados</span></a>
                    </li>
                    <li>
                        <a asp-page="/Cursos/Index"><i class="fas fa-tasks"></i> <span class="nav-label">Cursos</span></a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a asp-page="/Cooperados/Create">
                                Matricular-se
                            </a>
                        </li>
                        @await Html.PartialAsync("_LoginPartial")
                        &nbsp;&nbsp;&nbsp;
                    </ul>
                </nav>
            </div>
            <div>
                @RenderBody()
            </div>
            <div class="footer fixed">
                <div>
                    <strong>CoopManagement</strong> &copy; @DateTime.Now.Year
                </div>
            </div>
        </div>
    </div>

    @*jQuery*@
    <script src="~/lib/Inspinia/js/jquery-3.1.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/popper.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>

    @*Bootstrap*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @*Inspinia*@
    <script src="~/lib/Inspinia/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/lib/Inspinia/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/lib/Inspinia/js/plugins/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/lib/Inspinia/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/lib/Inspinia/js/demo/peity-demo.js"></script>
    <script src="~/lib/Inspinia/js/inspinia.js"></script>
    <script src="~/lib/Inspinia/js/plugins/pace/pace.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
