{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Autenticação no Sistema</h1>
                <form action="/usuario/login">
                    <label for="usuario">Usuário</label><br>
                    <input type="text"><br><br>
                    <label for="senha">Senha</label><br>
                    <input type="password" name="senha" id=""><br><br>
                    <input type="submit" value="Entrar">
                    <a href="/usuario">Entrar</a>
                </form>
                <br>
                <span><a href="">Esqueci minha senha</a></span><br><br>
                <span>Não está cadastrado?</span>
                <input type="submit" value="Clique aqui">
            </div>
        </div>
    </div>
{% endblock %}