{% extends 'base.html.twig' %}

{% block title %}Painel do usuário{% endblock %}

{% block body %}
    <div class="container">
        <h2>Painel do usuário</h2>

        <hr class="col-md-12 mb-3">

        <nav class="nav">
            <a class="nav-link" href="/cooperado">Cooperados</a><br><br>
            <a class="nav-link" href="/curso">Cursos</a><br><br>
            <a class="nav-link" href="/">Sair</a><br><br>
        </nav>
    </div>
{% endblock %}
