@page
@model CoopManagement.Pages.Cooperados.CreateModel
@using CoopManagement.Models.Cooperados

@{
    ViewData["Title"] = "Cooperados";
}

<style>
    .info {
        cursor: help;
    }
</style>

<h1>@ViewData["Title"]</h1>

<h4>Cadastrar novo cooperado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cooperado.Nome" class="control-label"></label>
                <input asp-for="Cooperado.Nome" class="form-control" />
                <span asp-validation-for="Cooperado.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Sexo" class="control-label"></label>
                <div class="custom-control custom-radio">
                    <input type="radio" id="Masculino" name="Cooperado.Sexo" value="1" class="custom-control-input">
                    <label class="custom-control-label" for="Masculino">Masculino</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="Feminino" name="Cooperado.Sexo" value="2" class="custom-control-input">
                    <label class="custom-control-label" for="Feminino">Feminino</label>
                </div>
                <span asp-validation-for="Cooperado.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.EstadoCivil" class="control-label"></label>
                <select asp-for="Cooperado.EstadoCivil" class="form-control" asp-items="Html.GetEnumSelectList<EstadoCivil>()">
                    <option selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="Cooperado.EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.DataNascimento" class="control-label"></label>
                <input asp-for="Cooperado.DataNascimento" class="form-control" />
                <span asp-validation-for="Cooperado.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.RacaCor" class="control-label"></label>
                <select asp-for="Cooperado.RacaCor" class="form-control" asp-items="Html.GetEnumSelectList<RacaCor>()">
                    <option selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="Cooperado.RacaCor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.NecessidadeEspecial" class="control-label"></label>
                <select asp-for="Cooperado.NecessidadeEspecial" class="form-control" asp-items="Html.GetEnumSelectList<NecessidadeEspecial>()">
                    <option selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="Cooperado.NecessidadeEspecial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Cpf" class="control-label"></label>
                <input asp-for="Cooperado.Cpf" class="form-control" />
                <span asp-validation-for="Cooperado.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Rg" class="control-label"></label>
                <input asp-for="Cooperado.Rg" class="form-control" />
                <span asp-validation-for="Cooperado.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.OrgaoExpedidorRg" class="control-label"></label>
                <input asp-for="Cooperado.OrgaoExpedidorRg" class="form-control" />
                <span asp-validation-for="Cooperado.OrgaoExpedidorRg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.DataExpedicaoRg" class="control-label"></label>
                <input asp-for="Cooperado.DataExpedicaoRg" class="form-control" />
                <span asp-validation-for="Cooperado.DataExpedicaoRg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <abbr title="Cidade em que você nasceu">
                    <label asp-for="Cooperado.Naturalidade" class="control-label info"></label>
                </abbr>
                <input asp-for="Cooperado.Naturalidade" class="form-control" placeholder="Ex.: Alegrense" />
                <span asp-validation-for="Cooperado.Naturalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <abbr title="País em que você nasceu">
                    <label asp-for="Cooperado.Nacionalidade" class="control-label info"></label>
                </abbr>
                <input asp-for="Cooperado.Nacionalidade" class="form-control" placeholder="Ex.: Brasileiro(a)" />
                <span asp-validation-for="Cooperado.Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.NomePai" class="control-label"></label>
                <input asp-for="Cooperado.NomePai" class="form-control" />
                <span asp-validation-for="Cooperado.NomePai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.NomeMae" class="control-label"></label>
                <input asp-for="Cooperado.NomeMae" class="form-control" />
                <span asp-validation-for="Cooperado.NomeMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.RendaFamiliar" class="control-label"></label>
                <select asp-for="Cooperado.RendaFamiliar" class="form-control">
                    <option selected disabled>Selecionar</option>
                    <option value="Até R$ 1.500,00">Até R$ 1.500,00</option>
                    <option value="Até R$ 3.000,00">Até R$ 3.000,00</option>
                    <option value="Até R$ 4.500,00">Até R$ 4.500,00</option>
                    <option value="Acima de R$ 5.000,00">Acima de R$ 5.000,00</option>
                </select>
                <span asp-validation-for="Cooperado.RendaFamiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Matricula" class="control-label"></label>
                <input asp-for="Cooperado.Matricula" class="form-control" />
                <span asp-validation-for="Cooperado.Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.CursoId" class="control-label"></label>
                <select asp-for="Cooperado.CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Turma" class="control-label"></label>
                <input asp-for="Cooperado.Turma" class="form-control" />
                <span asp-validation-for="Cooperado.Turma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Escolaridade" class="control-label"></label>
                <select asp-for="Cooperado.Escolaridade" class="form-control" asp-items="Html.GetEnumSelectList<Escolaridade>()">
                    <option selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="Cooperado.Escolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Logradouro" class="control-label"></label>
                <input asp-for="Cooperado.Logradouro" class="form-control" />
                <span asp-validation-for="Cooperado.Logradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Bairro" class="control-label"></label>
                <input asp-for="Cooperado.Bairro" class="form-control" />
                <span asp-validation-for="Cooperado.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Cidade" class="control-label"></label>
                <input asp-for="Cooperado.Cidade" class="form-control" />
                <span asp-validation-for="Cooperado.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Cep" class="control-label"></label>
                <input asp-for="Cooperado.Cep" class="form-control" />
                <span asp-validation-for="Cooperado.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Estado" class="control-label"></label>
                <select asp-for="Cooperado.Estado" class="form-control">
                    <option selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="Cooperado.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.TelefoneResidencial" class="control-label"></label>
                <input asp-for="Cooperado.TelefoneResidencial" class="form-control" />
                <span asp-validation-for="Cooperado.TelefoneResidencial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.TelefoneCelular" class="control-label"></label>
                <input asp-for="Cooperado.TelefoneCelular" class="form-control" />
                <span asp-validation-for="Cooperado.TelefoneCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Email" class="control-label"></label>
                <input asp-for="Cooperado.Email" class="form-control" />
                <span asp-validation-for="Cooperado.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.CotaParte" class="control-label"></label>
                <input asp-for="Cooperado.CotaParte" class="form-control" />
                <span asp-validation-for="Cooperado.CotaParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <strong title="É necessário ler e concordar com os termos deste estatuto para concluir sua matrícula.">
                    <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">Estatuto social da COOPA-IFES</a>
                </strong>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" id="salvar" disabled />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar</a>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Estatuto Social</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-justify">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
            </div>
            <div class="modal-footer">
                <div class="text-left">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkAceitarTermos" onclick="habilitarBtn()">
                        <label class="custom-control-label" for="checkAceitarTermos">Li e estou de acordo com este estatuto social</label>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmar" disabled>Confirmar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    //$(document).ready(function () {
    //    $("#Cooperado_TelefoneResidencial").mask("(99) 9999-9999");
    //    $("#Cooperado_TelefoneCelular").mask("(99) 99999-9999");
    //    $("#Cooperado_Cep").mask("99.999.999");
    //    $("#Cooperado_Cpf").mask("999.999.999-99");

    //    $('#Cooperado_Matricula').on("change", function (event) {
    //        $(this).val($(this).val().toUpperCase());
    //    });
    //});

    function habilitarBtn(){  
        if(document.getElementById('checkAceitarTermos').checked == true){ 	 
            document.getElementById('salvar').disabled = ""
            document.getElementById('confirmar').disabled = ""
        }
        
        if(document.getElementById('checkAceitarTermos').checked == false){ 	
            document.getElementById('salvar').disabled = "disabled"
            document.getElementById('confirmar').disabled = "disabled"
        }	
    }
</script>