@page
@model CoopManagement.Pages.Cooperados.CreateModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post">
                        @{ await Html.RenderPartialAsync("_CooperadoFormPartial", Model.CooperadoVM); }
                        <div class="text-right">
                            <a class="btn btn-secondary" asp-page="./Index">
                                <i class="fa fa-arrow-left text-white-50"></i>
                                Voltar
                            </a>
                            <button type="submit" class="btn btn-primary" id="btn-criar-cooperado" disabled>
                                <i class="fa fa-check text-white-50"></i>
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal - Estatuto Social -->
<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalScrollableTitle">Estatuto Social</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-justify">
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
            </div>
            <div class="modal-footer">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div class="text-left">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkAceitarTermos" onclick="habilitarBtn()">
                            <label class="custom-control-label" for="checkAceitarTermos" style="cursor: pointer;">Li e estou de acordo com este estatuto social.</label>
                        </div>
                    </div>
                    <div class="">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn-confirmar" disabled>
                                <i class="fa fa-check text-white-50"></i>
                            Confirmar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //$(document).ready(function () {
        //    $("#Cooperado_TelefoneResidencial").mask("(99) 9999-9999");
        //    $("#Cooperado_TelefoneCelular").mask("(99) 99999-9999");
        //    $("#Cooperado_Cep").mask("99.999.999");
        //    $("#Cooperado_Cpf").mask("999.999.999-99");

        //    $('#Cooperado_Matricula').on("change", function (event) {
        //        $(this).val($(this).val().toUpperCase());
        //    });
        //});

        function habilitarBtn() {
            if (document.getElementById('checkAceitarTermos').checked == true) {
                document.getElementById('btn-criar-cooperado').disabled = ""
                document.getElementById('btn-confirmar').disabled = ""
            }

            if (document.getElementById('checkAceitarTermos').checked == false) {
                document.getElementById('btn-criar-cooperado').disabled = "disabled"
                document.getElementById('btn-confirmar').disabled = "disabled"
            }
        }
    </script>
}
