@page
@model CoopManagement.Pages.Cooperados.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Deletar</h1>

<h3>Tem certeza que deseja deletar este Cooperado?</h3>
<div>
    <h4>Cooperado</h4>
    <hr />
    <partial name="_CooperadosDetalhesPartial" />    
    <form method="post">
        <input type="hidden" asp-for="Cooperado.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Voltar</a>
    </form>
</div>
