@page
@model CoopManagement.Pages.Cooperados.DetailsModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cooperados</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Cooperados/Index">Cooperados</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Detalhes do cooperado</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <div>
                <h4>Detalhes do cooperado</h4>
                <hr />
                @{ await Html.RenderPartialAsync("_CooperadoDetalhesPartial.cshtml", Model.CooperadoVM); }
                <a class="btn btn-secondary" asp-page="./Index">
                    <i class="fa fa-arrow-left"></i>
                    Voltar
                </a>
                <a type="button" class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.CooperadoVM.Id">
                    <i class="fa fa-pencil-alt"></i>
                    Editar
                </a>
            </div>
        </div>
    </div>
</div>
