@page
@model CoopManagement.Pages.Cooperados.DetailsModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
            @{ await Html.RenderPartialAsync("_CooperadoDetalhesPartial.cshtml", Model.CooperadoVM); }
        </div>
    </div>
</div>
