@page
@model CoopManagement.Pages.Cooperados.DetailsModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Cooperado</h4>
    <hr />
    <partial name="_CooperadosDetalhesPartial" />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cooperado.Id">Editar</a> |
    <a asp-page="./Index">Voltar</a>
</div>
