@page
@model CoopManagement.Pages.Cooperados.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4>Cooperado</h4>
<hr />
@{ 
    await Html.RenderPartialAsync("_CooperadoFormPartial", Model.CooperadoVM);
}
<div>
    <a asp-page="./Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
