@page
@model CoopManagement.Pages.Cooperados.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Cooperado</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cooperado.Nome" class="control-label"></label>
                <input asp-for="Cooperado.Nome" class="form-control" />
                <span asp-validation-for="Cooperado.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Sexo" class="control-label"></label>
                <input asp-for="Cooperado.Sexo" class="form-control" />
                <span asp-validation-for="Cooperado.Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.EstadoCivil" class="control-label"></label>
                <input asp-for="Cooperado.EstadoCivil" class="form-control" />
                <span asp-validation-for="Cooperado.EstadoCivil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.DataNascimento" class="control-label"></label>
                <input asp-for="Cooperado.DataNascimento" class="form-control" />
                <span asp-validation-for="Cooperado.DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.RacaCor" class="control-label"></label>
                <input asp-for="Cooperado.RacaCor" class="form-control" />
                <span asp-validation-for="Cooperado.RacaCor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.NecessidadeEspecial" class="control-label"></label>
                <input asp-for="Cooperado.NecessidadeEspecial" class="form-control" />
                <span asp-validation-for="Cooperado.NecessidadeEspecial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Cpf" class="control-label"></label>
                <input asp-for="Cooperado.Cpf" class="form-control" />
                <span asp-validation-for="Cooperado.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Rg" class="control-label"></label>
                <input asp-for="Cooperado.Rg" class="form-control" />
                <span asp-validation-for="Cooperado.Rg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.OrgaoExpedidorRg" class="control-label"></label>
                <input asp-for="Cooperado.OrgaoExpedidorRg" class="form-control" />
                <span asp-validation-for="Cooperado.OrgaoExpedidorRg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.DataExpedicaoRg" class="control-label"></label>
                <input asp-for="Cooperado.DataExpedicaoRg" class="form-control" />
                <span asp-validation-for="Cooperado.DataExpedicaoRg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Naturalidade" class="control-label"></label>
                <input asp-for="Cooperado.Naturalidade" class="form-control" />
                <span asp-validation-for="Cooperado.Naturalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Nacionalidade" class="control-label"></label>
                <input asp-for="Cooperado.Nacionalidade" class="form-control" />
                <span asp-validation-for="Cooperado.Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.NomePai" class="control-label"></label>
                <input asp-for="Cooperado.NomePai" class="form-control" />
                <span asp-validation-for="Cooperado.NomePai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.NomeMae" class="control-label"></label>
                <input asp-for="Cooperado.NomeMae" class="form-control" />
                <span asp-validation-for="Cooperado.NomeMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.RendaFamiliar" class="control-label"></label>
                <input asp-for="Cooperado.RendaFamiliar" class="form-control" />
                <span asp-validation-for="Cooperado.RendaFamiliar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Matricula" class="control-label"></label>
                <input asp-for="Cooperado.Matricula" class="form-control" />
                <span asp-validation-for="Cooperado.Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.CursoId" class="control-label"></label>
                <select asp-for="Cooperado.CursoId" class="form-control" asp-items="ViewBag.CursoId"></select>
                <span asp-validation-for="Cooperado.CursoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Turma" class="control-label"></label>
                <input asp-for="Cooperado.Turma" class="form-control" />
                <span asp-validation-for="Cooperado.Turma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Escolaridade" class="control-label"></label>
                <input asp-for="Cooperado.Escolaridade" class="form-control" />
                <span asp-validation-for="Cooperado.Escolaridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Rua" class="control-label"></label>
                <input asp-for="Cooperado.Rua" class="form-control" />
                <span asp-validation-for="Cooperado.Rua" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Bairro" class="control-label"></label>
                <input asp-for="Cooperado.Bairro" class="form-control" />
                <span asp-validation-for="Cooperado.Bairro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Cidade" class="control-label"></label>
                <input asp-for="Cooperado.Cidade" class="form-control" />
                <span asp-validation-for="Cooperado.Cidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Cep" class="control-label"></label>
                <input asp-for="Cooperado.Cep" class="form-control" />
                <span asp-validation-for="Cooperado.Cep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Estado" class="control-label"></label>
                <input asp-for="Cooperado.Estado" class="form-control" />
                <span asp-validation-for="Cooperado.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.TelefoneResidencial" class="control-label"></label>
                <input asp-for="Cooperado.TelefoneResidencial" class="form-control" />
                <span asp-validation-for="Cooperado.TelefoneResidencial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.TelefoneCelular" class="control-label"></label>
                <input asp-for="Cooperado.TelefoneCelular" class="form-control" />
                <span asp-validation-for="Cooperado.TelefoneCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.Email" class="control-label"></label>
                <input asp-for="Cooperado.Email" class="form-control" />
                <span asp-validation-for="Cooperado.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.DataMatricula" class="control-label"></label>
                <input asp-for="Cooperado.DataMatricula" class="form-control" />
                <span asp-validation-for="Cooperado.DataMatricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.DataDesligamento" class="control-label"></label>
                <input asp-for="Cooperado.DataDesligamento" class="form-control" />
                <span asp-validation-for="Cooperado.DataDesligamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.CotaParte" class="control-label"></label>
                <input asp-for="Cooperado.CotaParte" class="form-control" />
                <span asp-validation-for="Cooperado.CotaParte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cooperado.StatusMatricula" class="control-label"></label>
                <input asp-for="Cooperado.StatusMatricula" class="form-control" />
                <span asp-validation-for="Cooperado.StatusMatricula" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Cooperado.Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
