@page
@model CoopManagement.Pages.Cooperados.EditModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_CooperadoFormPartial", Model.CooperadoVM); }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
