@page
@model CoopManagement.Pages.Cooperados.EditModel

@{
    ViewData["Title"] = "Cooperados";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form method="post">
                        @{ await Html.RenderPartialAsync("_CooperadoFormPartial", Model.CooperadoVM); }
                        <div class="text-right">
                            <a class="btn btn-secondary" asp-page="./Index">
                                <i class="fa fa-arrow-left text-white-50"></i>
                                Voltar
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-check text-white-50"></i>
                                Salvar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
