{% extends 'base.html.twig' %}

{% block title %}Serviços{% endblock %}

{% block body %}

    <div class="container">
        <h2>Serviços</h2>

        <hr class="col-md-12 mb-3">
        
        <nav class="nav">
            <a class="nav-link" href="/usuario">Voltar</a>
        </nav>
    </div>

{% endblock %}