@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">CoopManagement</h1>
    <p>Leia sobre o projeto <a asp-page="/Privacy">CoopManagement</a>.</p>
</div>
