{% extends 'base.html.twig' %}

{% block title %}CoopManagement{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">CoopManagement</h1>
        <p class="lead">Proposta de sistema de gestão para cooperativa.</p>
        <hr class="my-4">
        <p>
            It uses utility classes for typography and spacing to space content out within the larger container.
        </p>
        <a class="btn btn-success btn-lg" href="/sobre" role="button">Learn more</a>
    </div>
</div>

{% endblock %}