<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>Sobre</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">CoopManagement</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cooperado/cadastrar">Novo cooperado</a>
                </li>
            </ul>
            <span class="nav-item">
                <a class="nav-link" href="/usuario/login">Entrar</a>
            </span>
        </div>
    </nav><br>

    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-4">CoopManagement</h1>
                <p class="lead">
                    CoopManagement é um projeto de estudos em PHP baseado em uma proposta de projeto real não concretizada. <br>
                    O projeto de WebApp conta com tecnologias, tais como PHP, HTML, CSS, JavaScript, Symfony, Bootstrap e MySQL.</p>
            </div>
        </div>
    </div>
</body>

</html>