{% extends 'base.html.twig' %}

{% block title %}CoopManagement{% endblock %}

{% block body %}

<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">CoopManagement</h1>
            <p class="lead">
                CoopManagement é um projeto de estudos em PHP baseado em uma proposta de projeto real não concretizada.
                <br>
                O projeto de WebApp conta com tecnologias, tais como PHP, HTML, CSS, JavaScript, Symfony, Bootstrap e
                MySQL.</p>
        </div>
    </div>
</div>

{% endblock %}