@page
@model CoopManagement.Pages.Cursos.CreateModel

@{
    ViewData["Title"] = "Cursos";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
            @{ await Html.RenderPartialAsync("_CursoFormPartial", Model.CursoVM); }
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
