@page
@model CoopManagement.Pages.Cursos.CreateModel
@using CoopManagement.Models.Cursos

@{
    ViewData["Title"] = "Cursos";
}

<h1>@ViewData["Title"]</h1>

<h4>Cadastrar novo curso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Curso.Nome" class="control-label"></label>
                <input asp-for="Curso.Nome" class="form-control" />
                <span asp-validation-for="Curso.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso.Grau" class="control-label"></label>
                <select asp-for="Curso.Grau" class="form-control" asp-items="Html.GetEnumSelectList<Grau>()">
                    <option selected disabled>Selecionar</option>
                </select>
                <span asp-validation-for="Curso.Grau" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
