@page
@model CoopManagement.ViewsModels.Cursos.CursoCreateEditViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Criar</h1>

<h4>Curso</h4>
<hr />

<partial name="_CursosFormPartial" />

<div>
    <a asp-page="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
