@page
@model CoopManagement.Pages.Cursos.DeleteModel

@{
    ViewData["Title"] = "Cursos";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Cursos</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a asp-page="/Index">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-page="/Cursos/Index">Cursos</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Deletar curso</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox">
        <div class="ibox-content">
            <div>
                <h4>Deletar curso</h4>
                <h3 class="text-danger">Tem certeza que deseja deletar este curso?</h3>
                <hr />
                @{ await Html.RenderPartialAsync("_CursoDetalhesPartial", Model.CursoVM); }
                <form method="post">
                    <input type="hidden" asp-for="CursoVM.Id" />
                    <a asp-page="./Index" type="button" class="btn btn-secondary">
                        <i class="fa fa-arrow-left"></i>
                        Voltar
                    </a>
                    <button type="submit" class="btn btn-danger">
                        <i class="far fa-trash-alt"></i>
                        Deletar
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
