@page
@model CoopManagement.Pages.Cursos.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Curso</h4>
    <hr />
    <partial name="_CursosDetalhesPartial" />
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Curso.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
