@page
@model CoopManagement.Pages.Cursos.DetailsModel

@{
    ViewData["Title"] = "Cursos";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            @{ await Html.RenderPartialAsync("_HeaderPartial.cshtml"); }
            @{ await Html.RenderPartialAsync("_CursoDetalhesPartial.cshtml", Model.CursoVM); }
        </div>
    </div>
</div>
