{% extends 'base.html.twig' %}

{% block title %}Cadastrar novo curso{% endblock %}

{% block body %}

<div class="container">
    <h1>Cadastrar novo curso</h1>

    <nav class="nav">
        <a class="nav-link active" href="/curso">Cursos</a>
        <a class="nav-link" href="/curso/cadastrar">Cadastrar curso</a>
        <a class="nav-link" href="/usuario">Voltar</a>
    </nav>

    <form action="">
        <label for="nomeCurso">Nome do curso</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                value="Tecnologia em Análise e Desenvolvimento de Sistemas">
            <label class="form-check-label" for="exampleRadios1">
                Tecnologia em Análise e Desenvolvimento de Sistemas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                value="Tecnologia em Cafeicultura">
            <label class="form-check-label" for="exampleRadios2">
                Tecnologia em Cafeicultura
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                value="Engenharia de Aquicultura">
            <label class="form-check-label" for="exampleRadios2">
                Engenharia de Aquicultura
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                value="Bacharelado em Ciências Biológicas">
            <label class="form-check-label" for="exampleRadios2">
                Bacharelado em Ciências Biológicas
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                value="Licenciatura em Ciências Biológicas">
            <label class="form-check-label" for="exampleRadios2">
                Licenciatura em Ciências Biológicas
            </label>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>

{% endblock %}