{% extends 'base.html.twig' %}

{% block title %}Cadastrar novo curso{% endblock %}

{% block body %}

<div class="container">
    <h1>Cadastrar novo curso</h1>

    <hr class="col-md-12 mb-3">

    <nav class="nav">
        <a class="nav-link active" href="/curso">Cursos</a>
        <a class="nav-link" href="/curso/cadastrar">Cadastrar curso</a>
        <a class="nav-link" href="/usuario">Voltar</a>
    </nav>

    <form action="">
        <div class="col-md-5 mb-3">
            <label for="nomeCurso">Nome do curso</label>
            <input type="text" class="form-control" id="" placeholder="" required>
        </div>
        
        <div class="col-md-5 mb-3">
            <label for="nomeCurso">Grau acadêmico</label>
            <select class="form-control">
                <option value="" selected disabled>Selecione</option>
                <option value="Técnico">Técnico</option>
                <option value="Superior">Superior</option>
            </select>
        </div>
        <br>
        <div class="form-group form-check d-flex justify-content-start align-items-center">
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>
    </form>
</div>

{% endblock %}