{% extends 'base.html.twig' %}

{% block title %}Cadastrar novo curso{% endblock %}

{% block body %}

    <div class="container">
        <h1>Cadastrar novo curso</h1>

        <hr class="col-md-12 mb-3">

        <nav class="nav">
            <a class="nav-link active" href="/curso">Cursos</a>
            <a class="nav-link" href="/curso/cadastrar">Cadastrar curso</a>
            <a class="nav-link" href="/usuario">Voltar</a>
        </nav>

        <form action="/curso/salvar" method="POST" name="form1" id="form-curso">
            <div class="col-md-5 mb-3">
                <label for="nome" name="nome">Nome do curso</label>
                <input type="text" name="nome" class="form-control" id="" placeholder="" required>
            </div>
            
            <div class="col-md-5 mb-3">
                <label for="grau" name="grau">Grau acadêmico</label>
                <select class="form-control" name="grau" required>
                    <option value="" selected disabled>Selecione</option>
                    <option value="Técnico">Técnico</option>
                    <option value="Superior">Superior</option>
                </select>
            </div>
            <br>
            <div class="form-group form-check d-flex justify-content-start align-items-center">
                <button id="btn-confirmar" type="button" class="btn btn-success">Cadastrar</button>
            </div>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script>

        $(document).ready(function(){
            $('#btn-confirmar').click(function(){
                //  Swal.fire(
                //     'Good job!',
                //     'You clicked the button!',
                //     'success'
                // );

                Swal.fire({
                    title: 'Salvar',
                    text: 'Salvar',
                    onOpen: function(){
                        setTimeout(() => {
                            $('#form-curso').submit();
                        }, 800);
                    }
                });
            });

        });

    </script>
    
{% endblock %}