{% extends 'base.html.twig' %}

{% block title %}Cadastrar novo curso{% endblock %}

{% block body %}

<div class="container">
    <h1>Cadastrar novo curso</h1>

    <nav class="nav">
        <a class="nav-link active" href="/curso">Cursos</a>
        <a class="nav-link" href="/curso/cadastrar">Cadastrar curso</a>
        <a class="nav-link" href="/usuario">Voltar</a>
    </nav>

    <form action="">
        <label for="nomeCurso">Nome do curso</label>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio1">Tecnologia em Análise e Desenvolvimento de Sistemas</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio2">Tecnologia em Cafeicultura</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio3">Engenharia de Aquicultura</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio4">Bacharelado em Ciências Biológicas</label>
        </div>
        <div class="custom-control custom-radio">
            <input type="radio" id="customRadio5" name="customRadio" class="custom-control-input">
            <label class="custom-control-label" for="customRadio5">Licenciatura em Ciências Biológicas</label>
        </div>
        <br>
        <button type="submit" class="btn btn-success">Cadastrar</button>
    </form>
</div>

{% endblock %}