<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar novo curso</title>
</head>
<body>
    <h2>Cadastrar novo curso</h2>

    <form action="">
        <label for="nomeCurso">Nome do curso</label><br>
        <input type="text"><br><br>
        <label for="nivelAcademico">Nível acadêmico</label><br>
        <select name="">
            <option value="Primeiro Grau">Primeiro Grau</option>
            <option value="Segundo Grau">Segundo Grau</option>
            <option value="Terceiro Grau">Terceiro Grau</option>
        </select><br><br>
        <a href="/curso">Voltar</a>
        <input type="submit" value="Cadastrar">
    </form>
</body>
</html>