{% extends 'base.html.twig' %}

{% block title %}Cadastrar novo curso{% endblock %}

{% block body %}

    <div class="container">
        <h1>Cursos</h1>
        <a href="/curso/cadastrar">Cadastrar novo</a><br><br>
        <a href="/usuario">Voltar</a>
    </div>

{% endblock %}