<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastrar Cooperado</title>
</head>

<body>
    <h2>Cadastrar novo cooperado</h2>
    <form action="CoopManagement/src/Controller/Cooperado/CooperadoController.php" method="POST">
        <label for="nome">Nome</label><br>
        <input type="text" name="nome"><br><br>
        <label for="sexo">Sexo</label><br>
        <input type="radio" name="sexo" value="Masculino">Masculino
        <input type="radio" name="sexo" value="Feminino">Feminino <br><br>
        <label for="estadoCivil">Estado Civil</label><br>
        <select name="estadoCivil">
            <option value="Solteiro">Solteiro</option>
            <option value="Casado">Casado</option>
            <option value="União Estável">União Estável</option>
            <option value="Divorciado">Divorciado</option>
            <option value="Divorciado">Viúvo</option>
        </select><br><br>
        <label for="dataNascimento">Data de Nascimento</label><br>
        <input type="date" name="dataNascimento"><br><br>
        <label for="racaCor">Raça/Cor</label><br>
        <select name="racaCor">
            <option value="Branco">Branco</option>
            <option value="Negro">Negro</option>
            <option value="Pardo">Pardo</option>
            <option value="Amarelo">Amarelo</option>
            <option value="Indígena">Indígena</option>
        </select><br><br>
        <span for="necessidadeEspecial">Necessidades Especiais</span><br>
        <input type="checkbox" name="fisica" id="">
        <label for="fisica">Física</label><br>
        <input type="checkbox" name="visual" id="">
        <label for="visual">Visual</label><br>
        <input type="checkbox" name="Auditiva" id="">
        <label for="auditiva">Auditiva</label><br>
        <input type="checkbox" name="mental" id="">
        <label for="mental">Mental</label><br><br>

        <label for="cpf">CPF</label><br>
        <input type="text" name="cpf"><br><br>
        <label for="rg">RG</label><br>
        <input type="text" name="rg"><br><br>
        <label for="orgaoExpedidorRg">Órgão Expedidor</label><br>
        <input type="text" name="orgaoExpedidorRg"><br><br>
        <label for="dataExpedicaoRg">Data da Expedição</label><br>
        <input type="text" name="dataExpedicaoRg"><br><br>

        <label for="naturalidade">Naturalidade</label><br>
        <input type="naturalidade" name="$naturalidade"><br><br>
        <label for="nacionalidade">Nacionalidade</label><br>
        <input type="text" name="nacionalidade"><br><br>
        <label for="nomePai">Nome do Pai</label><br>
        <input type="text" name="nomePai"><br><br>
        <label for="nomeMae">Nome da Mãe</label><br>
        <input type="text" name="nomeMae"><br><br>
        <label for="rendaFamiliar">Renda Familiar</label><br>
        <input type="text" name="rendaFamiliar"><br><br>

        <label for="curso">Curso</label><br>
        <select name="curso">
            <option value="" checked disabled>Selecione</option>
            <option value="curso 1">Curso 1</option>
            <option value="curso 2">Curso 2</option>
            <option value="curso 3">Curso 3</option>
            <option value="curso 4">Curso 4</option>
            <option value="curso 5">Curso 5</option>
        </select><br><br>
        <label for="turma">Turma</label><br>
        <input type="turma" name="turma"><br><br>
        <label for="escolaridade">Escolaridade</label><br>
        <select name="racaCor">
            <option value="Primeiro Grau">Primeiro Grau</option>
            <option value="Segundo Grau">Segundo Grau</option>
            <option value="Terceiro Grau">Terceiro Grau</option>
        </select><br><br>
        
        <label for="rua">Rua</label><br>
        <input type="text" name="rua"><br><br>
        <label for="bairro">Bairro</label><br>
        <input type="text" name="bairro"><br><br>
        <label for="cidade">Cidade</label><br>
        <input type="text" name="cidade"><br><br>
        <label for="cep">CEP</label><br>
        <input type="text" name="cpf"><br><br>
        <label for="estado">Estado</label><br>
        <select name="estado">
            <option value="Acre">Acre</option>
            <option value="Alagoas">Alagoas</option>
            <option value="Amapá">Amapá</option>
            <option value="Amazonas">Amazonas</option>
            <option value="Bahia">Bahia</option>
            <option value="Ceará">Ceará</option>
            <option value="Distrito Federal">Distrito Federal</option>
            <option value="Espírito Santo">Espírito Santo</option>
            <option value="Goiás">Goiás</option>
            <option value="Maranhão">Maranhão</option>
            <option value="Mato Grosso">Mato Grosso</option>
            <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
            <option value="Minas Gerais">Minas Gerais</option>
            <option value="Pará">Pará</option>
            <option value="Paraíba">Paraíba</option>
            <option value="Paraná">Paraná</option>
            <option value="Pernambuco">Pernambuco</option>
            <option value="Piauí">Piauí</option>
            <option value="Rio de Janeiro">Rio de Janeiro</option>
            <option value="Rio Grande do Norte">Rio Grande do Norte</option>
            <option value="Rio Grande do Sul">Rio Grande do Sul</option>
            <option value="Rondônia">Rondônia</option>
            <option value="Roraima">Roraima</option>
            <option value="Santa Catarina">Santa Catarina</option>
            <option value="São Paulo">São Paulo</option>
            <option value="Sergipe">Sergipe</option>
            <option value="Tocantins">Tocantins</option>
        </select><br><br>
        
        <label for="telefoneResidencial">Telefone Residencial</label><br>
        <input type="tel" name="telefoneResidencial" id=""><br><br>
        <label for="telefoneCelular">Telefone Celular</label><br>
        <input type="tel" name="telefoneCelular" id=""><br><br>
        <label for="email">E-mail</label><br>
        <input type="email" name="email"><br><br>
        <a href="/cooperado">Voltar</a>
        <button>Cadastrar</button>
    </form>
</body>

</html>