{% extends 'base.html.twig' %}

{% block title %}Cadastrar cooperado{% endblock %}

{% block body %}

    <div class="container">
        <h2>Cadastrar novo cooperado</h2> <br>

        <form action="/cooperado/salvar" method="POST" name="form1" class="needs-validation" id="form-cooperado" novalidate>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="validationCustom01">Nome</label>
                    <input name="nome" type="text" class="form-control" id="validationCustom01" placeholder="Nome completo" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom02">Estado civil</label>
                    <select name="estadoCivil" class="form-control">
                        <option value="" selected disabled>Selecione</option>
                        <option value="Solteiro">Solteiro</option>
                        <option value="Casado">Casado</option>
                        <option value="União Estável">União Estável</option>
                        <option value="Divorciado">Divorciado</option>
                        <option value="União Estável">União Estável</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom03">Sexo</label>
                    <select name="sexo" id="" class="form-control">
                        <option value="" selected disabled>Selecione</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom04">Data de nascimento</label>
                    <input class="form-control" type="date" name="dataNascimento" id="">
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom05">Raça/cor</label>
                    <select name="racaCor" class="custom-select">
                        <option selected disabled>Selecione</option>
                        <option value="Branco">Branco</option>
                        <option value="Negro">Negro</option>
                        <option value="Pardo">Pardo</option>
                        <option value="Amarelo">Amarelo</option>
                        <option value="Indígena">Indígena</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom06">Necessidades especiais</label>
                    <select name="necessidadeEspecial" class="custom-select">
                        <option selected disabled>Selecione</option>
                        <option value="Não possui">Não possui</option>
                        <option value="Física">Física</option>
                        <option value="Visual">Visual</option>
                        <option value="Auditiva">Auditiva</option>
                        <option value="Mental">Mental</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <hr class="col-md-11 mb-3">

                <div class="col-md-4 mb-3">
                    <label for="validationCustom07">CPF</label>
                    <input name="cpf" type="text" class="form-control" id="validationCustom04" placeholder="" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom08">RG</label>
                    <input name="rg" type="text" class="form-control" id="validationCustom04" placeholder="" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom09">Órgão expedidor</label>
                    <input name="orgaoExpedidorRg" type="text" class="form-control" id="validationCustom04" placeholder="Digite a sigla" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom10">Data da expedição</label>
                    <input name="dataExpedicaoRg" class="form-control" type="date" name="dataNascimento" id="">
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom11">Naturalidade</label>
                    <input name="naturalidade" type="text" class="form-control" id="validationCustom11" placeholder="Cidade onde nasceu" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom12">Nacionalidade</label>
                    <input name="nacionalidade" type="text" class="form-control" id="validationCustom12" placeholder="País onde nasceu" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <hr class="col-md-11 mb-3">

                <div class="col-md-4 mb-3">
                    <label for="validationCustom13">Nome do pai</label>
                    <input name="nomePai" type="text" class="form-control" id="validationCustom13" placeholder="Nome completo" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom14">Nome da mãe</label>
                    <input name="nomeMae" type="text" class="form-control" id="validationCustom14" placeholder="Nome completo" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom15">Renda familiar</label>
                    <select name="rendaFamiliar" class="custom-select">
                        <option selected disabled>Selecione</option>
                        <option value="Até 1.000 reais">Até 1.000 reais</option>
                        <option value="De 1.001 a 2.000 reais">De 1.001 a 2.000 reais</option>
                        <option value="De 2.001 a 3.000 reais">De 2.001 a 3.000 reais</option>
                        <option value="De 3.001 a 4.000 reais">De 3.001 a 4.000 reais</option>
                        <option value="De 4.001 a 5.000 reais">De 4.001 a 5.000 reais</option>
                        <option value="Acima de 5.001 reais">Acima de 5.001 reais</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <hr class="col-md-11 mb-3">

                <div class="col-md-4 mb-3">
                    <label for="validationCustom13">Matrícula</label>
                    <input name="matricula" type="text" class="form-control" id="validationCustom13" placeholder="Matrícula acadêmica" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom16">Curso matriculado</label>
                    <select name="curso" class="custom-select">
                        <option selected disabled>Selecione</option>
                        {% for curso in cursos %}
                            <option value="{{ curso.getId() }}">{{ curso.getNome() }}</option>
                        {% endfor %}
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom17">Turma</label>
                    <select name="turma" class="custom-select">
                        <option selected disabled>Selecione</option>
                        <option value="2010/1">2010/1</option>
                        <option value="2010/2">2010/2</option>
                        <option value="2011/1">2011/1</option>
                        <option value="2011/2">2011/2</option>
                        <option value="2012/1">2012/1</option>
                        <option value="2012/2">2012/2</option>
                        <option value="2013/1">2013/1</option>
                        <option value="2013/2">2013/2</option>
                        <option value="2014/1">2014/1</option>
                        <option value="2014/2">2014/2</option>
                        <option value="2015/1">2015/1</option>
                        <option value="2015/2">2015/2</option>
                        <option value="2016/1">2016/1</option>
                        <option value="2016/2">2016/2</option>
                        <option value="2017/1">2017/1</option>
                        <option value="2017/2">2017/2</option>
                        <option value="2018/1">2018/1</option>
                        <option value="2018/2">2018/2</option>
                        <option value="2019/1">2019/1</option>
                        <option value="2019/2">2019/2</option>
                        <option value="2020/1">2020/1</option>
                        <option value="2020/2">2020/2</option>
                        <option value="2021/1">2021/1</option>
                        <option value="2021/2">2021/2</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom18">Grau de escolaridade completo</label>
                    <select name="escolaridade" class="custom-select">
                        <option selected disabled>Selecione</option>
                        <option value="Primeiro grau">Primeiro grau</option>
                        <option value="Segundo grau">Segundo grau</option>
                        <option value="Terceiro grau">Terceiro grau</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <hr class="col-md-11 mb-3">

                <div class="col-md-4 mb-3">
                    <label for="validationCustom19">Rua</label>
                    <input name="rua" type="text" class="form-control" id="validationCustom19"
                        placeholder="Nome completo da rua e nº da residência" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom20">Bairro</label>
                    <input name="bairro" type="text" class="form-control" id="validationCustom20"
                        placeholder="Bairro, distrito ou localidade" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom21">Cidade</label>
                    <input name="cidade" type="text" class="form-control" id="validationCustom21" placeholder="" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom22">CEP</label>
                    <input name="cep" type="text" class="form-control" id="validationCustom22" placeholder="CEP ou Caixa Postal"
                        required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom23">Estado</label>
                    <select name="estado" class="custom-select">
                        <option selected disabled>Selecione</option>
                        <option value="Acre">Acre</option>
                        <option value="Alagoas">Alagoas</option>
                        <option value="Amapá">Amapá</option>
                        <option value="Amazonas">Amazonas</option>
                        <option value="Bahia">Bahia</option>
                        <option value="Ceará">Ceará</option>
                        <option value="Distrito Federal">Distrito Federal</option>
                        <option value="Espírito Santo">Espírito Santo</option>
                        <option value="Goiás">Goiás</option>
                        <option value="Maranhão">Maranhão</option>
                        <option value="Mato Grosso">Mato Grosso</option>
                        <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                        <option value="Minas Gerais">Minas Gerais</option>
                        <option value="Pará">Pará</option>
                        <option value="Paraíba">Paraíba</option>
                        <option value="Paraná">Paraná</option>
                        <option value="Pernambuco">Pernambuco</option>
                        <option value="Piauí">Piauí</option>
                        <option value="Rio de Janeiro">Rio de Janeiro</option>
                        <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                        <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                        <option value="Rondônia">Rondônia</option>
                        <option value="Roraima">Roraima</option>
                        <option value="Santa Catarina">Santa Catarina</option>
                        <option value="São Paulo">São Paulo</option>
                        <option value="Sergipe">Sergipe</option>
                        <option value="Tocantins">Tocantins</option>
                    </select>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom24">E-mail</label>
                    <input name="email" type="email" class="form-control" id="validationCustom24" placeholder="" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom25">Telefone residencial</label>
                    <input name="telefoneResidencial" type="text" class="form-control tel" id="validationCustom25" placeholder="" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <div class="col-md-4 mb-3">
                    <label for="validationCustom26">Telefone celular</label>
                    <input name="telefoneCelular" type="text" class="form-control tel" id="validationCustom26" placeholder="" required>
                    <div class="valid-feedback">
                        Ótimo!
                    </div>
                    <div class="invalid-feedback">
                        Este campo não pode ficar em branco.
                    </div>
                </div>

                <hr class="col-md-11 mb-3">

                <div class="col-4 mx-auto">
                    <label for="validationCustom27">Cota-parte</label>
                    <div class="col-md-12 mb-3 input-group input-group-lg">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-lg">R$</span>
                        </div>
                        <input name="cotaParte" type="number" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                        <div class="valid-feedback">
                            Ótimo!
                        </div>
                        <div class="invalid-feedback">
                            Este campo não pode ficar em branco.
                        </div>
                    </div>
                </div>
            </div>

            <a href="" data-toggle="modal" data-target="#exampleModalScrollable"><strong>Você deve ler o Estatuto Social</strong></a>

            <div class="form-group form-check d-flex justify-content-between align-items-center">
                <div class="custom-control custom-checkbox pl-0 form-check">
                    <input type="checkbox" class="custom-control-input form-check-input" name="habilitar" id="habilitar" onClick="OnOff()">
                    <label class="custom-control-label form-check-label" for="habilitar">Concordo com os termos e condições inseridas neste Estatuto Social.</label>
                    <div class="invalid-feedback">
                        Se concordou com o Estatuto, você deve marcar este campo.
                    </div>
                </div>
                <button class="btn btn-success" type="submit" name="enviar" id="enviar" disabled>Concluir matrícula</button>
            </div>
        </form>

        <!-- Modal - Abre o estatuto social para leitura -->
        <div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle"><strong>Estatuto Social</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body" style="text-align: justify;">
                    <strong>Capítulo I</strong><br>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <strong>Capítulo II</strong><br>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <strong>Capítulo III</strong><br>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <strong>Capítulo IV</strong><br>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <strong>Capítulo V</strong><br>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    <strong>Capítulo VI</strong><br>
                    <p>
                        Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
                        Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
                        Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla.
                    </p>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
            </div>
        </div>

        <br>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
        
        function OnOff() {
            if (document.getElementById('habilitar').checked == true) {
                document.getElementById('enviar').disabled = ""
            }
            if (document.getElementById('habilitar').checked == false) {
                document.getElementById('enviar').disabled = "disabled"
            }
        }

        $(document).ready(function(){
            $('#enviar').click(function(){
                //  Swal.fire(
                //     'Good job!',
                //     'You clicked the button!',
                //     'success'
                // );

                Swal.fire({
                    title: 'Confirmado!',
                    text: 'Cooperado cadastrado com sucesso!',
                    onOpen: function(){
                        setTimeout(() => {
                            $('#form-cooperado').submit();
                        }, 3000);
                    }
                });
            });
        });
        
        /* Máscara para input de telefone */
        var MaskBehavior = function (val) {
            return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00000';
        },
        
        Options = {
            onKeyPress: function (val, e, field, options) {
                field.mask(MaskBehavior.apply({}, arguments), options);
            }
        };

        $('.tel').mask(MaskBehavior, Options);

    </script>
{% endblock %}