{% extends 'base.html.twig' %}

{% block title %}Desligados{% endblock %}

{% block body %}

    <div class="container">
        <h1>Cooperados desligados</h1>

        <a href="/cooperado">Voltar</a>
    </div>

{% endblock %}