{% extends 'base.html.twig' %}

{% block title %}Desligados{% endblock %}

{% block body %}

    <div class="container">
        <h2>Cooperados desligados</h2>

        <hr class="col-md-12 mb-3">

        <nav class="nav">
            <a class="nav-link" href="/cooperado/novos">Novas matrículas</a><br><br>
            <a class="nav-link" href="/cooperado/lista">Listar</a><br><br>
            <a class="nav-link" href="/cooperado/desligados">Desligados</a><br><br>
            <a class="nav-link" href="/usuario">Voltar</a><br><br>
        </nav>

        {% if cooperados %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Matrícula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Data de Desligamento</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cooperado in cooperados %}
                        <tr>
                            <th scope="row">{{ cooperado.getId() }}</th>
                            <td>{{ cooperado.getNome() }}</td>
                            <td>{{ cooperado.getCurso().getNome() }}</td>
                            <td>{{ cooperado.getDataMatricula()|date('d/m/Y') }}</td>
                            <td><button class="btn btn-outline-secondary">Ficha</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if not cooperados %}
            <h5 style="text-align: center; color: grey">Não existem cooperados desligados</h5>
        {% endif %}
    </div>

{% endblock %}