{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block body %}

<div class="container">
    <h1>Cooperados matriculados</h1>

    <a href="/cooperado">Voltar</a>

</div>

{% endblock %}