{% extends 'base.html.twig' %}

{% block title %}Cursos{% endblock %}

{% block body %}

<div class="container">
    <h1>Cooperados matriculados</h1>

    <hr class="col-md-12 mb-3">

    <nav class="nav">
        <a class="nav-link" href="/cooperado/novos">Novas matrículas</a><br><br>
        <a class="nav-link" href="/cooperado/lista">Listar</a><br><br>
        <a class="nav-link" href="/cooperado/desligados">Desligados</a><br><br>
        <a class="nav-link" href="/usuario">Voltar</a><br><br>
    </nav>

</div>

{% endblock %}