{% extends 'base.html.twig' %}

{% block title %}Cooperados{% endblock %}

{% block body %}

    <div class="container">
        <h1>Novas matrículas</h1>

        <hr class="col-md-12 mb-3">

        <nav class="nav">
            <a class="nav-link" href="/cooperado/novos">Novas matrículas</a><br><br>
            <a class="nav-link" href="/cooperado/lista">Listar</a><br><br>
            <a class="nav-link" href="/cooperado/desligados">Desligados</a><br><br>
            <a class="nav-link" href="/usuario">Voltar</a><br><br>
        </nav>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Curso</th>
                    <th scope="col">Data de Matrícula</th>
                </tr>
            </thead>
            <tbody>
                {% for cooperado in cooperados %}
                    <tr>
                        <td>{{ cooperado.getNome() }}</td>
                        <td>{{ curso.getCurso() }}</td>
                        <td>{{ curso.getDataMatricula() }}</td>
                        <td><button class="btn btn-secondary">Editar</button></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{% endblock %}