{% extends 'base.html.twig' %}

{% block title %}Cooperados{% endblock %}

{% block body %}

    <div class="container">
        <h1>Novas matrículas</h1>

        <a href="/cooperado">Voltar</a>
    </div>
    
{% endblock %}