{% extends 'base.html.twig' %}

{% block title %}
    Página para testes
{% endblock %}

{% block body %}
    <h1>Página para testes</h1>
    {{ cooperado.getNome() }} <br>
    {{ cooperado.getSexo() }} <br>
    {{ cooperado.getEstadoCivil() }} <br>
    {{ cooperado.getDataNascimento() }} <br><br>

    <a href="/cooperado">Voltar</a>
{% endblock %}

